{% extends "baza.html" %}
{% block ssilki %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/reg.css') }}">
{% endblock %}
{% block content %}
<br><br><br><br>
<div class="box">

    <img src="https://www.clipartmax.com/png/full/267-2671061_y%C3%BCkle-youssefdibeyoussefdibe-profile-picture-user-male.png">
    <div class="page">
        <div class="header">
            <a id="login" class="active" href="{{url_for('login')}}">Войти</a>
            <a id="signup" href="{{url_for('registration')}}">Регистрация</a>
        </div>
        <div class="content">
            
            <form class="login" name="loginForm" method="POST">
                {% for category,msg in get_flashed_messages(True) %}
        <div class='flash {{category}}'>{{msg}}</div>
        {% endfor %}
                <input type="text" name="emialOrUsername" id="logName" placeholder="Имя пользователя/почта">
                <input type="password" name="password" id="logPassword" placeholder="Пароль">
                <div id="check">
                    <input type="checkbox" name="remainme" id="remember">
                    <label for="remember">Запомнить меня</label>
                </div>
                <br><br>
                <input type="submit" value="Войти">
            </form>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock %}