{% extends "baza.html" %}
{% block content %}
<br><br><br><br>
<center>


    <form action="/poisk" method="POST">
        <input type="hidden" name="search_form" value="name_search">
        <div class="searchBox">
            <input class="searchInput"type="text" name="poisk" placeholder="Название">
            <button class="searchButton" href="#">
                <i class="material-icons">Искать</i>
            </button>
        </div>
  </form>
</center>
<div class='forma-sort'>
    <form action="/poisk" method="post">
        <input type="hidden" name="search_form" value="filter_search">
        <div class="genre-btns">
            <button id="openGenresBtn" type='button'>Открыть жанры</button>
            <button id="closeGenresBtn" style="display: none;" type='button'>Закрыть жанры</button>
        </div>
        <div class="genres-list">
            {% for item in uniq_genres %}
                <div class="checkbox-item">
                    <label>{{ item[0] }}</label>
                    <input type="checkbox" name="selected_genres" value="{{ item[0] }}">
                </div>
            {% endfor %}
        </div>
        <label>Тип</label>
        <div class="type-list">
                <div class="checkbox-item">
                    <label>Манга</label>
                    <input type="checkbox" name="selected_type" value="манга"><br>
                </div>
                <div class="checkbox-item">
                    <label>Ранобе</label>
                    <input type="checkbox" name="selected_type" value="ранобе"><br>
                </div>
                <div class="checkbox-item">
                    <label>Аниме</label>
                    <input type="checkbox" name="selected_type" value="аниме"><br>
                </div>
        </div>
        <div class="chapter-input">
            <label for="chapterStart">Количество глав:</label><br>
            <input type="number" id="chapterStart" placeholder='от' name="chapter_start" min="0">
            <label for 'chapter_end'>-</label>
            <input type="number" id="chapterEnd" placeholder='до' name="chapter_end" min="0">
        </div>
        <div class="year-input">
            <label for="yearStart">Год:</label><br>
            <input type="number" id="yearStart"  placeholder='от' name="year_start" min="1900">
            <label for="yearEnd">-</label>
            <input type="number" id="yearEnd" placeholder='до' name="year_end" min="1900">
        </div>
        <div style="clear: both;"></div>
        <input type="submit" name="submit" value="Показать">
        <input type='reset' name='clear' value='Сбросить'>
    </form>
</div>
<div class='mobile-sort'>
    <div style='display:flex;width:100%;justify-content:center'>
    <button id="showButton">Фильтры</button>
    </div>
<div class='mobile-filtri' id="elementToShow" style="display: none;">
    <br><br><br>
    <div style='display:flex;justify-content: space-between; align-items: center;'>
    <span>Фильтры</span>
    <button id="closeButtonm">&times;</button>
    </div>
    <form action="/poisk" method="post">
    <input type="hidden" name="search_form" value="filter_search">
    <div style='display:block' class="genres-list">
        {% for item in uniq_genres %}
            <div class="checkbox-item">
                <label>{{ item[0] }}</label>
                <input type="checkbox" name="selected_genres" value="{{ item[0] }}">
            </div>
        {% endfor %}
    </div>
    <div class="type-list">
        <div class="checkbox-item">
            <label>Манга</label>
            <input type="checkbox" name="selected_type" value="манга"><br>
        </div>
        <div class="checkbox-item">
            <label>Ранобе</label>
            <input type="checkbox" name="selected_type" value="ранобе"><br>
        </div>
        <div class="checkbox-item">
            <label>Аниме</label>
            <input type="checkbox" name="selected_type" value="аниме"><br>
        </div>
</div>
    <div class="chapter-input">
        <label for="chapterStart">Количество глав:</label><br>
        <input type="number" id="chapterStart" placeholder='от' name="chapter_start" min="0">
        <label for 'chapter_end'>-</label>
        <input type="number" id="chapterEnd" placeholder='до' name="chapter_end" min="0">
    </div>
    <div class="year-input">
        <label for="yearStart">Год:</label><br>
        <input type="number" id="yearStart"  placeholder='от' name="year_start" min="1900">
        <label for="yearEnd">-</label>
        <input type="number" id="yearEnd" placeholder='до' name="year_end" min="1900">
    </div>
    <div style="clear: both;"></div>
    <div class='show_reset'>
        <input type="submit" name="submit" value="Показать">
        <input type='reset' name='clear' value='Сбросить'>
    </div>
    </form>
</div>
</div>

<center>
<div class="container">
    {% if titles %}
    <div class="seeAll">
        <div class="topic">Результаты поиска:</div>
        
      <div class="sort-buttons">
        <label for="sort_by">Сортировать по:</label>
    <select class='sortirovka' name="sort_by" id="sort_by" onchange="sortTitles(this.value)">
        <option value="titleAsc">Названию (А-Я)</option>
        <option value="titleDesc">Названию (Я-А)</option>
        <option value="chapterAsc">Количеству глав (↑)</option>
        <option value="chapterDesc">Количеству глав (↓)</option>
        <option value="viewsAsc">Просмотрам (↑)</option>
        <option value="viewsDesc">Просмотрам (↓)</option>
        <option value="ratingAsc">Рейтингу (↑)</option>
        <option value="ratingDesc">Рейтингу (↓)</option>
    </select>
    </div>
      </div>
      <hr>
      <div class="grid-container">
          {% for t in titles %}
          <div data-chapter={{t[5]}} data-views={{t[4]}} class="grid-item">
            <a class='image-con' href="{{url_for('showTitle',nazvanie=t[2])}}">
              <img src="{{t[1]}}" class="grid-img item" alt="image">
              {% for a in amount_of_views %}
              {% if a.split(';')[0]==t[0] %}
              <span class="view-count">{{a.split(';')[1]}} просмотров</span>
              {% endif %}
              {% endfor %}
            </a>
              <div class="card_content">{{t[0]}}</div>
              <div class='infaPriNavodke'>
                <h2>{{t[0]}}</h2>
                <p>Год:<b class='text_v_infa_pri_navodke'>{{t[6]}}</b></p>
                <p>Жанры:<b class='text_v_infa_pri_navodke'>{%for g in t[3].split(';')%}{{g}} {%endfor%}</b></p>
                <p>Глав:<b class='text_v_infa_pri_navodke'>{{t[5]}}</b></p>
                <div class="containerz">
                    {% if t[8] is none %}
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="0">
                    {% else %}
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="{{ t[8]|default(0) }}">
                    {% endif %}
                </div>
                <p id="description">{{ t[7][:300] if t[7]|length > 300 else t[7] }}{% if t[7]|length > 300 %}...{% endif %}</p>
            </div>
          </div>
          {% endfor %}
    {% endif %}
    {% if data %}
    <div class="seeAll">
        <div class="topic">Результаты поиска:</div>
    </div>
    <hr>
    <div class="grid-container">
        {% for t in data %}
            <div class="grid-item">
                <a class='image-con' href="{{t[2]}}">
                  <img src="{{t[1]}}" class="grid-img item" alt="image">
                </a>
                <div class="card_content">{{t[0]}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
    </div>
{% endif %}
<br><br><br><br>
</center>
<script>
const infaElements = document.querySelectorAll('.infaPriNavodke');
infaElements.forEach((element) => {
  const bounding = element.getBoundingClientRect();
  const isInViewport = (
    bounding.left >= 0 &&
    bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
  );

  if (!isInViewport) {
    element.style.left = 'auto';
    element.style.right = '100%';
    element.style.transform = 'translate(-100%, -50%)';
  }
});</script>
<script>

    function sortTitles(criteria) {
        var titles = document.querySelectorAll('.grid-item');
        var titlesArray = Array.prototype.slice.call(titles);

        titlesArray.sort(function(a, b) {
            var valueA, valueB;

            switch(criteria) {
                case 'titleAsc':
                    valueA = a.querySelector('.card_content').textContent;
                    valueB = b.querySelector('.card_content').textContent;
                    return valueA.localeCompare(valueB);
                case 'titleDesc':
                    valueA = a.querySelector('.card_content').textContent;
                    valueB = b.querySelector('.card_content').textContent;
                    return valueB.localeCompare(valueA);
                case 'chapterAsc':
                    valueA = parseInt(a.dataset.chapter);
                    valueB = parseInt(b.dataset.chapter);
                    return valueA - valueB;
                case 'chapterDesc':
                    valueA = parseInt(a.dataset.chapter);
                    valueB = parseInt(b.dataset.chapter);
                    return valueB - valueA;
                case 'viewsAsc':
                    valueA = parseInt(a.dataset.views);
                    valueB = parseInt(b.dataset.views);
                    return valueA - valueB;
                case 'viewsDesc':
                    valueA = parseInt(a.dataset.views);
                    valueB = parseInt(b.dataset.views);
                    return valueB - valueA;
                case 'ratingAsc':
                    valueA = parseFloat(a.querySelector('.rating').value);
                    valueB = parseFloat(b.querySelector('.rating').value);
                    valueA = isNaN(valueA) ? 0 : valueA;
                    valueB = isNaN(valueB) ? 0 : valueB;
                    return valueA - valueB;
                case 'ratingDesc':
                    valueA = parseFloat(a.querySelector('.rating').value);
                    valueB = parseFloat(b.querySelector('.rating').value);
                    valueA = isNaN(valueA) ? 0 : valueA;
                    valueB = isNaN(valueB) ? 0 : valueB;
                    return valueB - valueA;
                default:
                    return 0;
            }
        });

        var gridContainer = document.querySelector('.grid-container');
        gridContainer.innerHTML = '';
        titlesArray.forEach(function(title) {
            gridContainer.appendChild(title);
        });
    }
</script>
<script>
    const openGenresBtn = document.getElementById('openGenresBtn');
    const closeGenresBtn = document.getElementById('closeGenresBtn');
    const genresList = document.querySelector('.genres-list');
    openGenresBtn.addEventListener('click', function () {
        genresList.style.display = 'block';
        openGenresBtn.style.display = 'none';
        closeGenresBtn.style.display = 'block';
    });
    closeGenresBtn.addEventListener('click', function () {
        genresList.style.display = 'none';
        openGenresBtn.style.display = 'block';
        closeGenresBtn.style.display = 'none';
    });
    document.addEventListener('DOMContentLoaded', function() {
        const filterForm = document.querySelector('.forma-sort form');
    
        const savedGenres = localStorage.getItem('selected_genres');
        const savedChapterStart = localStorage.getItem('chapter_start');
        const savedChapterEnd = localStorage.getItem('chapter_end');
        const savedYearStart = localStorage.getItem('year_start');
        const savedYearEnd = localStorage.getItem('year_end');
    
        if (savedGenres) {
            const genres = savedGenres.split(',');
            genres.forEach(genre => {
                const checkbox = filterForm.querySelector(`input[value="${genre}"]`);
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        }
    
        if (savedChapterStart) {
            const chapterStartInput = filterForm.querySelector('#chapterStart');
            if (chapterStartInput) {
                chapterStartInput.value = savedChapterStart;
            }
        }
    
        if (savedChapterEnd) {
            const chapterEndInput = filterForm.querySelector('#chapterEnd');
            if (chapterEndInput) {
                chapterEndInput.value = savedChapterEnd;
            }
        }
    
        if (savedYearStart) {
            const yearStartInput = filterForm.querySelector('#yearStart');
            if (yearStartInput) {
                yearStartInput.value = savedYearStart;
            }
        }
    
        if (savedYearEnd) {
            const yearEndInput = filterForm.querySelector('#yearEnd');
            if (yearEndInput) {
                yearEndInput.value = savedYearEnd;
            }
        }
    
        filterForm.addEventListener('submit', function(event) {
            const selectedGenres = Array.from(filterForm.querySelectorAll('input[name="selected_genres"]:checked'))
                .map(checkbox => checkbox.value)
                .join(',');
            localStorage.setItem('selected_genres', selectedGenres);
    
            const chapterStart = filterForm.querySelector('#chapterStart').value;
            localStorage.setItem('chapter_start', chapterStart);
    
            const chapterEnd = filterForm.querySelector('#chapterEnd').value;
            localStorage.setItem('chapter_end', chapterEnd);
    
            const yearStart = filterForm.querySelector('#yearStart').value;
            localStorage.setItem('year_start', yearStart);
    
            const yearEnd = filterForm.querySelector('#yearEnd').value;
            localStorage.setItem('year_end', yearEnd);
        });
        const resetButton = filterForm.querySelector('input[type="reset"]');
        resetButton.addEventListener('click', function() {
            localStorage.removeItem('selected_genres');
            localStorage.removeItem('chapter_start');
            localStorage.removeItem('chapter_end');
            localStorage.removeItem('year_start');
            localStorage.removeItem('year_end');
        });
    });
</script>
<script>
    function saveTitleType() {
        const selectedTypeInputs = document.querySelectorAll('input[name="selected_type"]:checked');
        let selectedType = '';
        selectedTypeInputs.forEach(input => {
            selectedType += input.value + ',';
        });
        selectedType = selectedType.slice(0, -1);
        localStorage.setItem('title_type', selectedType);
    }
    document.addEventListener('DOMContentLoaded', function() {
        const filterForm = document.querySelector('.forma-sort form');
        const savedTitleType = localStorage.getItem('title_type');
        if (savedTitleType) {
            const titleTypeValues = savedTitleType.split(',');
            titleTypeValues.forEach(type => {
                const checkbox = filterForm.querySelector(`input[value="${type}"]`);
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        } else {
            filterForm.querySelector('input[value="манга"]').checked = true;
        }
        const selectedTypeInputs = filterForm.querySelectorAll('input[name="selected_type"]');
        selectedTypeInputs.forEach(input => {
            input.addEventListener('change', function() {
                if (this.value !== 'манга') {
                    const mangaCheckbox = filterForm.querySelector('input[value="манга"]');
                    if (!mangaCheckbox.checked) {
                        mangaCheckbox.checked = false;
                    }
                }
            });
        });
        filterForm.addEventListener('submit', function(event) {
            saveTitleType();
        });
        const resetButton = filterForm.querySelector('input[type="reset"]');
        resetButton.addEventListener('click', function() {
            localStorage.removeItem('title_type');
            filterForm.querySelector('input[value="манга"]').checked = true;
        });
    });
</script>




<script>
    const showButton = document.getElementById('showButton');
const elementToShow = document.getElementById('elementToShow');
const closeButton = document.getElementById('closeButtonm');
showButton.addEventListener('click', function() {
    if (elementToShow.style.display === 'none') {
        elementToShow.style.display = 'block';
        showButton.style.display = 'none';
    } else {
        elementToShow.style.display = 'none';
        showButton.display = 'block';
    }
});

closeButton.addEventListener('click', function() {
    elementToShow.style.display = 'none';
    showButton.style.display = 'block';
});
</script>
{% endblock %}